Repository V-Sekai-fire/godot-zenoh: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, emoji-free-code

cargo-fmt:
  name: Rust formatting
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --all-targets
  language: system
  pass_filenames: false

emoji-free-code:
  name: Check for prohibited emojis in code
  entry: python3
  language: system
  pass_filenames: true
  args:
  - -c
  ...

Initial format.
  src/networking.rs
  src/peer.rs
Due: cargo-fmt, cargo-clippy, emoji-free-code

Fix RPC and MultiplayerSynchronizer via ZenohMultiplayerPeer
  Cargo.toml
  misc/test_multiplayer_sync.sh
  sample/godot_zenoh/core/sync_test.gd
  sample/godot_zenoh/core/sync_test.gd.uid
  sample/godot_zenoh/scenes/sync_test_scene.tscn
  src/bin/server_test.rs
  src/networking.rs
  src/peer.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, emoji-free-code

Track Cargo.lock for reproducible CI builds
  .gitignore
  Cargo.lock
Due: none

Add README and sync CONTRIBUTING with current architecture
  CONTRIBUTING.md
  README.md
Due: emoji-free-code

Apply rustfmt formatting to fix CI fmt check
  src/bin/server_test.rs
  src/networking.rs
  src/peer.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy, emoji-free-code

Add Godot 4.6-stable single and double precision builds
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  misc/build.sh
  misc/build_godot.sh
  sample/godot-zenoh.double.gdextension
Due: none

Fix gdextension double-precision format and library naming
  misc/build.sh
  sample/godot-zenoh.double.gdextension
  sample/godot-zenoh.gdextension
Due: none

Add vulkan=no to Godot builds (no MoltenVK on CI runners)
  .github/workflows/ci.yml
  misc/build_godot.sh
Due: none

Add Windows to Godot build matrix (single + double precision)
  .github/workflows/ci.yml
Due: none

Use github actions for cloning godot.
  .github/workflows/ci.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.(rs)$
  cargo-clippy: any of: \.(rs)$
  emoji-free-code: any of: \.(rs|md)$
